# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nbi/
.netbeans/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Spring Boot
src/main/resources/application.properties
